html, body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato';
  background-color: #f2e0cb;
}

.bg-custom {
  background-color: #fef4e8;
}


.bg-white {
  background-color: white;
}

h6 {
  font-family: Raleway, serif;
  font-size: 16px;
  letter-spacing: .1em;
  font-weight: 400;
  padding-top: 7%;
  color: black;
  font-weight: bold;
}


.nav-item {
  flex-grow: 1;
  flex: 1;
  flex-basis: auto;
  text-align: center;
}

.nav-link {
  border: black 100px;
  font-family: Muli;
  font-size: 11px;
  letter-spacing: .3em;
  font-weight: 400;
}
.navbar-nav {
  flex: 1;
  border: 10px black;
}

.nav-link:hover{
  transform: scale(1.2);
  font-weight: bold;
}

.long-name {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  padding-top: 3%;
  font-weight: 500;
  text-align: center;
  z-index:3;
  color: #bf9b6d
}

.profile-picture {
  text-align: center;
}

.profile-picture img {
  padding-top: 1vh;
  width: 60vw;
  vertical-align: top;
  z-index: 1;
  margin-left: 0%;
}

.content-home {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #fef4e8;
  color: #575656
}

h3 {
  font-family: Muli;
  font-size: 22px;
  letter-spacing: .2em;
  font-weight: 400;
  padding-top: 5%;
  text-transform: uppercase;
  text-align: center;
  color: #bf9b6d
}


.progress {
  margin-top: 1%;
  background-color: white;
}

.progress-bar-brown {
  background-color: #bf9b6d !important;
  vertical-align: middle;
}

.progress-bar {
  display: inline-block;
}

.col-sm-9.progress {
  background-color: #fef4e8 ;
}

.experience-img {
  display: none;
}

.content-experiences .col-sm-9 {
  padding: 3% 10%;
}


.project-border-top-left {
  border-top: #bf9b6d 5px solid;
  border-left: #bf9b6d 5px solid;
  border-right: #bf9b6d 5px solid;
}

.project-border-bottom-left {
  border-bottom: #bf9b6d 5px solid;
  border-left: #bf9b6d 5px solid;
}

.project-border-top-right {
  border-top: #bf9b6d 5px solid;
  border-right: #bf9b6d 5px solid;
  border-left: #bf9b6d 5px solid;
}

.project-border-left {
  border-left: #bf9b6d 5px solid;
}

.project-first-row {
  padding-top: 3%
}

.row-projects {
  padding-top: 5%
}

.content-projects img {
  max-width: 100%;
  max-height: 100%;
}

.content-projects {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color:#fef4e8;
  color: #575656;
}

.project-right-align {
  text-align: left;
}

.projects-content {
  padding-left: 5% ;
  margin-top: 5%;
}

.projects-content2 {
  padding-right: 5% ;
  margin-top: 5%;
  text-align: left;
}



.contacts-container {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  margin: auto;
}

.contact-logos img {
  text-align: center;
  display: inline-block;
  height: 30px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.contact-logos  {
  display: flex;
  justify-content: center;
  text-align: center;
  border:#fef4e8 3px solid;
  border-radius: 40px;
}

.contact-img  {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.contact-right-border  {
  display: flex;
  justify-content: center;
  text-align: center;
}

.media-description {
  margin-bottom: 0.3%;
}

.social-media {
  margin-bottom: 3vw;
}

.social-media .row {
  text-align: center;
}

@media (min-width: 576px) { 

  .experience-img {
    display: none;
  }

  .long-name {
    position: absolute;
    bottom: -5%;
    right: -6%;
    font-family: Raleway, sans-serif;
    font-size: 70px;
    font-weight: 900;
    text-align: right;
    z-index:3;
    color: #bf9b6d
  }

  .profile-picture {
    text-align: center;
  }

  .profile-picture img {
    padding-top: 7vh;
    width: 40vh;
    vertical-align: top;
    z-index: 1;
    margin-left: -57%;
  }


  .experience-img {
    display: block
  }

  .content-experiences .col-sm-9 {
    padding: 3% 3%;
  }  

  .content-experiences {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 16px;
    color: #575656
  }

  .experience-all {
    text-align: center;
    padding: 0;
  }

  .experience-img {
    width: 90%;
    top: 57%;
    margin-top: -50%;
    position: absolute;
  }

  .experience-logo img {
    padding:0;
    border-radius: 50%;
    border: #fef4e8 5px solid;
    height: 30vh;
    margin: 10% 5% 5% 5%;
    vertical-align: top;
  }

  .experience-description {
    border: #fef4e8 5px solid;
    margin: -40% 5% 5% 5%;
    padding: 40% 1% 1% 3%;
    text-align: left;
    font-size: 17px;
  }

}

@media (min-width: 768px) {

  .long-name {
    font-size: 90px;
    right: -15%;
  }

  .profile-picture img {
    margin-left: -50%;
  }


  .content-media {
    color: #575656;
    padding: 5% 20%;
  }
}

@media (min-width: 992px) {

  h1 {
    font-family: 'Lobster', serif;
    padding-top: 2%;
    text-align: center;
  }

  h2 {
    font-family: 'Lobster', serif;
    padding-top: 2%;
    text-align: center;
  }

  h5 {
    font-family: Raleway, serif;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 400;
    color: white;
    font-weight: bold;
  }

  .container-fluid {
    font-size: 16px;
    min-height: 100%;
  }

  .content-home {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #fef4e8;
    color: #575656
  }

  p {
    clear: both;
  }

  .long-name {
    font-size: 119px;
    right: -10%;
  }

  .profile-picture img {
    margin-left: -57%;
  }


  .d-block .w-100 {
    width: 100%;
    padding-top: 56.25%;
    object-fit: cover
  }

  #carouselExampleCaptions {
    margin-top: 5%;
  }

  .half-border {
    margin-top: 4%;
    border-top: #bf9b6d 5px solid;
  }

  .row-projects {
    display: flex;
  }

  .project-border-top-left {
    border-top: #bf9b6d 5px solid;
    border-left: #bf9b6d 5px solid;
    border-right: 0px;
  }

  .project-border-bottom-left {
    border-bottom: #bf9b6d 5px solid;
    border-left: #bf9b6d 5px solid;
  }

  .project-border-top-right {
    border-top: #bf9b6d 5px solid;
    border-right: #bf9b6d 5px solid;
    border-left: 0px;
  }

  .project-border-left {
    border-left: #bf9b6d 5px solid;
  }

  .project-first-row {
    padding-top: 3%
  }

  .col img {
    max-width: 100%;
    max-height: 100%;
  }

  .content-projects {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color:#fef4e8;
    color: #575656;
  }

  .project-right-align {
    text-align: right;
  }

  .projects-content {
    padding-left: 5% ;
    margin-top: 5%;
    border-left: #f2e0cb 5px solid;
  }

  .projects-content2 {
    padding-right: 5% ;
    margin-top: 5%;
    border-right: #f2e0cb 5px solid;
    text-align: right;
  }


}