html, body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

h3 {
  font-family: 'Source Sans Pro';
  font-size: 3vw;
  letter-spacing: 0.01em;
  font-weight: 800;
  padding-top: 3%;
}

h5 {
  font-family: 'Optima';
  font-size: 2vw;
  letter-spacing: 0.0em;
  font-weight: 300;
}

.section-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 0%;
  display: block;
}
/* HOME PAGE */ 
#home {
  padding: 10%;
  padding-top:0%;
  padding-bottom:10%;
  height: 100vh; 
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid-item-home-1 {
  height: 100vh; 
  background-color: salmon;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.grid-item-home-2 {
  max-height: 100vh; 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  background-image: url("../img/home-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.grid-content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
}

#home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#greetings {
  font-family: 'Secular One';
  font-size: 8vw;
  font-weight: 1000;
  color: white;
  text-align: right;
  vertical-align: middle;
  padding-right: 30px;
  display: table-cell
}

#name {
  font-family: 'Secular One';
  font-size: 8vw;
  font-weight: 900;
  vertical-align: middle;
  padding-left: 30px;
  display: table-cell;
  color: salmon;
}

#name-text {
  background: white;
  padding: 20px;
  font-size: 7vw;
}

/* SKILLS SECTION */
.about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-size: 3vw;
}

.flip-card {
  border-style: hidden;
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}

.flip-card-about {
  height: 15vw;
}


.custom-link {
  color: inherit; /* Inherit the font color from the parent element */
  text-decoration: none; /* Optional: add underline on hover */
}
.custom-link:hover {
  color: inherit; /* Ensure the color stays the same on hover */
  text-decoration: underline; /* Optional: add underline on hover */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.flip-card-front {
 text-align: center;
}

.flip-card-back {
  color:white;
  transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
 transform: rotateY(-180deg);
}

/* Style the front side (fallback if image is missing) */
#card-about-1, #card-about-6, #card-about-16 {
  background-color: rgb(255, 243, 205);
  color: #542222;
}

#card-about-11, #card-about-20 {
  background-color: rgb(255, 219, 185);
  color: salmon;
}

#card-about-8, #card-about-10, #card-about-19 {
  color: #222f54;
  background-color: paleturquoise;
}

#card-about-12 {
  background-color: rgb(252, 158, 140);
}

#card-about-9 {
  background-color: #222f54;
  color: white;
}

#card-about-8 {
  background-color: rgb(255, 230, 0);
  color: #542222;
}

#card-about-2, #card-about-7 {
  background-color: salmon;
    color: white;
}

#card-about-3, #card-about-13 {
  background-color: rgb(205, 228, 202);
  color: rgb(30, 77, 3)
}

#card-about-4, #card-about-17 {
  background-color: rgb(98, 176, 163);
  color: rgb(235, 222, 117);
}

#card-about-5, #card-about-15, #card-about-18 {
  background-color: rgb(204, 76, 60);
  color: white;
}

 #card-about-14 {
  background-color: #224a54;
  color: white;

}

.card-content {
  display: table-cell;
  vertical-align: middle; 
  height:100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.skill-image {
  height: 7vw;
  margin: auto;
  text-align: center;
}

.skill-title {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

/* MEDIA CONTENT */
.media-content {
  padding: 10%;
  background-color: salmon;
}

/* CONTACT DETAILS */
.contacts-container {
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  margin: auto;
}

.contact-logos img {
  text-align: center;
  display: inline-block;
  height: 30px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.contact-logos  {
  display: flex;
  justify-content: center;
  text-align: center;
  border:salmon 3px solid;
  border-radius: 40px;
}

.contact-img  {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.contact-right-border  {
  display: flex;
  justify-content: center;
  text-align: center;
}

.media-description {
  margin-bottom: 0.2%;
}

.social-media .row {
  text-align: center;
}

.footer-notes {
  background-color: rgb(255, 255, 255);
  color: salmon;
  font-family: 'Source Sans Pro';
  font-style: italic;
  text-align: center;
  padding: 2%;
  font-size: medium;
  margin-left: 10%;
  margin-right: 10%;
}

/* Rsponsive design uwaw */
@media (max-width: 600px) {  
  .about-grid > div {
    grid-column: span 2 !important; 
  }
}
/* Media query for small screens */
@media screen and (max-width: 1500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }
  
  .grid-item-home-1 {
    height: 20vh; 
    background-color: salmon;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: auto; /* Let the grid items automatically position themselves in separate rows */
  }
  
  .grid-item-home-2 {
    height: 20vh; 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: auto; /* Let the grid items automatically position themselves in separate rows */
    background-image: url("../img/home-2.jpg");
    background-size: cover;
  }
 
  #home {
    height: 36vh;
    padding-bottom: 0;
  }

  .footer-notes {
    padding-top: 3%
  }
}
