html, body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

h3 {
  font-family: 'Source Sans Pro';
  font-size: 110px;
  letter-spacing: 0.03em;
  font-weight: 800;
  padding-top: 5%;
}

.section-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: block;
}

/* .bg-custom {
  background-color: #fef4e8;
}


.bg-white {
  background-color: white;
}


.navbar {
    position: fixed;
    width: 100%;
    background-color: #fef4e8;
    z-index: 5;
    border-bottom: 2px solid #bf9b6d;
}

.nav-item {
  flex-grow: 1;
  flex: 1;
  flex-basis: auto;
  text-align: center;
}

.nav-link {
  border: black 100px;
  font-family: Muli;
  font-size: 11px;
  letter-spacing: .3em;
  font-weight: 400;
}
.navbar-nav {
  flex: 1;
  border: 10px black;
}

.nav-link:hover{
  transform: scale(1.2);
  font-weight: bold;
} */

/* HOME PAGE */ 
#home {
  padding: 5vh;
  height: 100vh; 
  width: 100vw; 
  display: block;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid-item-home-1 {
  height: 100vh; 
  background-color: salmon;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.grid-item-home-2 {
  max-height: 100vh; 
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row: 1;
  background-image: url("../img/home-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.grid-content {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
}
#home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#greetings {
  font-family: 'Secular One';
  font-size: 10vw;
  font-weight: 1000;
  color: white;
  text-align: right;
  vertical-align: middle;
  padding-right: 30px;
  display: table-cell
}

#name {
  font-family: 'Secular One';
  font-size: 7vw;
  font-weight: 100;
  vertical-align: middle;
  padding-left: 30px;
  display: table-cell;
  color: salmon;
}

#name-text {
  background: white;
  padding: 10px;

}

/* SKILLS SECTION */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-size: 3vw;
}

.flip-card {
  border-style: hidden;
  background-color: transparent;
  width: 100%;
  height: 15vw;
  aspect-ratio: 1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
 text-align: center;
}

.flip-card-back {
  color:white;
  transform: rotateY(180deg);
}

/* Style the back side */
.flip-card-back {
 transform: rotateY(180deg);
}

/* Style the front side (fallback if image is missing) */
#card-skills-1, #card-skills-6, #card-skills-16 {
  background-color: rgb(255, 243, 205);
  color: #542222;
}

 #card-skills-11, #card-skills-13, #card-skills-20 {
  background-color: rgb(255, 219, 185);
  color: salmon;
}

#card-skills-4, #card-skills-10 {
  color: #222f54;
  background-color: paleturquoise;
}

#card-skills-12 {
  background-color: rgb(252, 158, 140);
}

#card-skills-9 {
  background-color: #222f54;
  color: white;
}

#card-skills-8 {
  background-color: rgb(255, 230, 0);
  color: #542222;
}

#card-skills-2, #card-skills-7, #card-skills-19 {
  background-color: salmon;
    color: white;
}

#card-skills-17 {
  background-color: rgb(98, 176, 163);
}

#card-skills-3, #card-skills-5, #card-skills-15, #card-skills-18 {
  background-color: rgb(204, 76, 60);
  color: white;
}

 #card-skills-14 {
  background-color: #224a54;
  color: white;

}

.card-content {
  display: table-cell;
  vertical-align: middle; 
}

.skill-image {
  height: 7vw;
  margin: auto;
  text-align: center;
}

.skill-title {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

/* EXPERIENCES SECTION */
.experiences-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.experiences-grid-card {
  width: 100%;
  height: 100%;
}


.card-experiences-content {
  width: 100%;
  text-align: center;
}
.experiences-image {
  width: 10vw;
}

.experiences-company {
  font-family: 'Poppins';
  font-size: 4vw;
  font-style: bold;
  font-weight: 900;
  margin-bottom: 5%;
}

.experiences-role {
  font-family: 'Urbanist';
  font-size: 2vw;
  margin-bottom: 5%;
}
.experiences-role {
  font-family: 'Urbanist';
  font-size: 2vw;
  margin-bottom: 2%;
}
hr.solid {
  border-top: 3px solid black;
  margin:auto;
  margin-top: 10%;
  margin-bottom: 7%;
  width: 10%;
  text-align: center;
}

hr.solid-white {
  border-top: 3px solid white;
  margin:auto;
  margin-top: 5%;
  margin-bottom: 3.5%;
  width: 5%;
  text-align: center;
}

.experiences-description {
  font-family: 'Source Sans Pro';
  font-size: 1.3vw;
  letter-spacing: 0.01em;
  vertical-align: middle;
}

#card-experiences-1 {
  padding: 10%;
  background-color: rgb(255, 219, 185);
  color: #702222;
}

#card-experiences-2 {
  padding: 10%;
  background-color: paleturquoise;
  color: #222f54;
}

#card-experiences-3 {
  padding: 5%;
  background-color: #222f54;
  color: white;
  grid-column: 1 / span 2;
}

#card-experiences-4 {
  padding: 10%;
  background-color: salmon;
  color: white;
}

#card-experiences-5 {
  padding: 10%;
  background-color: rgb(204, 76, 60);
  color: white
}


.project-title {
  font-family: Raleway, serif;
  font-size: 16px;
  letter-spacing: .1em;
  font-weight: 700;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1%;
  color: black;
  margin: 0%;
  font-weight: bold;
}

hr {
  margin: 0;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1%;
  border: #f2e0cb solid 1px;
}

.project-border-all {
  border: #bf9b6d 3px solid;
  margin: 3%;
}

.project-border-top-left {
  border-top: #bf9b6d 5px solid;
  border-left: #bf9b6d 5px solid;
  border-right: #bf9b6d 5px solid;
}

.project-border-bottom-left {
  border-bottom: #bf9b6d 5px solid;
  border-left: #bf9b6d 5px solid;
}

.project-border-top-right {
  border-top: #bf9b6d 5px solid;
  border-right: #bf9b6d 5px solid;
  border-left: #bf9b6d 5px solid;
}

.project-border-left {
  border-left: #bf9b6d 5px solid;
}

.project-first-row {
  padding-top: 3%
}

.row-projects {
  padding-top: 5%
}

.content-projects img {
  max-width: 100%;
  max-height: 100%;
}

.content-projects {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color:#fef4e8;
  color: #575656;
}

.project-right-align {
  text-align: left;
}

.projects-content {
  padding-left: 3% ;
  padding-right: 3% ;
  padding-bottom: 3%;
}

.projects-content2 {
  padding-right: 5% ;
  margin-top: 5%;
  text-align: left;
}

#path-visualization-image {
  border: black 1px solid;
}

.contacts-container {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  display: inline-block;
  margin: auto;
}

.contact-logos img {
  text-align: center;
  display: inline-block;
  height: 30px;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.contact-logos  {
  display: flex;
  justify-content: center;
  text-align: center;
  border:#fef4e8 3px solid;
  border-radius: 40px;
}

.contact-img  {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.contact-right-border  {
  display: flex;
  justify-content: center;
  text-align: center;
}

.media-description {
  margin-bottom: 0.3%;
}

.social-media {
  margin-bottom: 3vw;
}

.social-media .row {
  text-align: center;
}


/* 
@media (min-width: 576px) { 

  .experience-img {
    display: none;
  }

  .long-name {
    bottom: -5%;
    right: -6%;
    position: absolute;
    font-family: Raleway, sans-serif;
    font-size: 70px;
    font-weight: 900;
    text-align: right;
    z-index:3;
    color: #bf9b6d
  }

  .profile-picture {
    text-align: center;
  }

  .profile-picture img {
    padding-top: 7vh;
    width: 40vh;
    vertical-align: top;
    z-index: 1;
    margin-left: -57%;
  }


  .experience-img {
    display: block
  }

  .content-experiences .col-sm-9 {
    padding: 3% 3%;
  }  

  .content-experiences {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 16px;
    color: #575656
  }

  .experience-all {
    text-align: center;
    padding: 0;
  }

  .experience-img {
    width: 90%;
    top: 57%;
    margin-top: -50%;
    position: absolute;
  }

  .experience-logo img {
    padding:0;
    border-radius: 50%;
    border: #fef4e8 5px solid;
    height: 30vh;
    margin: 10% 5% 5% 5%;
    vertical-align: top;
  }

  .experience-description {
    border: #fef4e8 5px solid;
    margin: -40% 5% 5% 5%;
    padding: 40% 1% 1% 3%;
    text-align: left;
    font-size: 17px;
  }

}



@media (min-width: 768px) {

  .long-name {
    padding-top: 3%;
    font-size: 90px;
    right: -15%;
  }

  .profile-picture img {
    margin-left: -50%;
  }


  .content-media {
    color: #575656;
    padding: 3% 20%;
  }
}

@media (min-width: 992px) {

  h1 {
    font-family: 'Lobster', serif;
    padding-top: 2%;
    text-align: center;
  }

  h2 {
    font-family: 'Lobster', serif;
    padding-top: 2%;
    text-align: center;
  }

  h3 {
    padding-top: 1%;
  }
  

  h5 {
    font-family: Raleway, serif;
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 400;
    color: white;
    font-weight: bold;
  }

  .container-fluid {
    font-size: 16px;
    min-height: 100%;
  }

  .content-home {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #fef4e8;
    color: #575656
  }

  p {
    clear: both;
  }

  .long-name {
    font-size: 119px;
    right: -10%;
  }

  .profile-picture img {
    margin-left: -57%;
  }


  .d-block .w-100 {
    width: 100%;
    padding-top: 56.25%;
    object-fit: cover
  }

  #carouselExampleCaptions {
    margin-top: 5%;
  }

  .half-border {
    margin-top: 4%;
    border-top: #bf9b6d 5px solid;
  }

  .row-projects {
    display: flex;
  }

  .project-border-top-left {
    border-top: #bf9b6d 5px solid;
    border-left: #bf9b6d 5px solid;
    border-right: 0px;
  }

  .project-border-bottom-left {
    border-bottom: #bf9b6d 5px solid;
    border-left: #bf9b6d 5px solid;
  }

  .project-border-top-right {
    border-top: #bf9b6d 5px solid;
    border-right: #bf9b6d 5px solid;
    border-left: 0px;
  }

  .project-border-left {
    border-left: #bf9b6d 5px solid;
  }

  .project-first-row {
    padding-top: 3%
  }

  .col img {
    max-width: 100%;
    max-height: 100%;
  }

  .content-projects {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color:#fef4e8;
    color: #575656;
  }

  .project-right-align {
    text-align: right;
  }

  .projects-content {
    padding-left: 3% ;
    padding-right: 3% ;
    padding-bottom: 3% ;
  }

  .projects-content2 {
    padding-right: 5% ;
    margin-top: 5%;
    border-right: #f2e0cb 5px solid;
    text-align: right;
  }


} */